.button{
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-border-color: #6754bb;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 25%;
    -fx-background-radius: 25px;
}
.firstBtns{
    -fx-background-color: #6754bb;
    -fx-text-fill: white;
}
.secondBtns{
    -fx-text-fill: #6754bb;
}
.secondBtns:hover{
    -fx-background-color: #6754bb;
    -fx-text-fill: white;
}